<video class="video" autoplay="autoplay" loop muted="" width="300" height="150">
  <source src="videos/bg.mp4" type="video/mp4" />
  <source src="" type="video/ogg" />
  <source src="" type="video/webm" />
</video>
<div class="overlay">
</div>
    <header>
      <div class="logo text-uppercase">
        <h1 class="text-uppercase">Join <span class="vc">d</span><span class="ve">e</span><span class="a">v</span></h1>
        <div class="linha"></div>
        <p class="descricao">The Future is Coming</p>
      </div><!-- logo -->
    </header>
  </div>
